@import url('../common/nav.css');
@import url('../common/loginBar.css');
@import url('../common/footer.css');

*{
    margin:0;
    padding:0;
}
html{
    min-width: 426px;
}
body{
    /*min-width:420px;*/
    color:#333;
}
li{list-style-type: none;}
a{text-decoration: none;}

.feedback-msg {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    background-color: rgba(255, 255, 255, 0.8);
}

.msg-box{
    height:30%;
    width:80%;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-40%;
    margin-top:-10%;
    color:#666;
    background-color: #F8F8F8;
    padding:1em;
}

.msg-box p{
    font-size: 1.2em;
    line-height: 1.5em;
}

.msg-box p:nth-child(n+2){
    text-indent:2em;
}

.msg-box input{
    display: block;
    position: absolute;
    bottom:15px;
    left:50%;
    width:70px;
    text-align: center;
    line-height:25px;
    margin-left:-35px;
    font-size:14px;
    color:#FFF;
    border:none;
    background-color: #5BAEFF;
    cursor:pointer;
}

.question{
    position: relative;
    display: none;
    width:75%;
    margin:2em auto;
    padding:2em 2em 5em 2em;
    box-shadow: 1px -1px 1px  #5BAEFF;
    border:1px solid #CCC;
    color:#333;
}

.question h1{
    text-align: center;
    font-family: 'SimHei';
    font-size:2em;
    margin-bottom:1em;
    color:#5BAEFF;
}

.question li{
    margin-bottom:2em;
    border-bottom:1px dotted #CCC;
    padding-bottom:.5em;
}

.question li p{
    margin-bottom:.5em;
}

.question li label{
    margin:0 1em;
}

.question li textarea{
    height:6em;
    width:100%;
}


.question > input[type="submit"]{
    display: block;
    position: absolute;
    left:50%;
    bottom:1.5em;
    margin-left:-50px;
    width:100px;
    line-height:40px;
    border:none;
    background-color: #5BAEFF;
    font-weight: bold;
    color:#FFF;
    font-size:1.5em;
    cursor:pointer;
    border-radius: 5px;
}

.question > input[type="submit"]:hover{
    box-shadow: 0 0 2px brown;
    font-size:1.4em;
}


@media (max-width: 768px) {
    .question{
        margin-top:4em;
    }
}

@media (max-width: 510px) {
   .question li label{
    margin:0 .4em;
    }
}
