@import url('../common/nav.css');
@import url('../common/loginBar.css');
@import url('../common/footer.css');

*{
    margin:0;
    padding:0;
}
body{
    /*min-width:420px;*/
    color:#333;
}
li{list-style-type: none;}
a{text-decoration: none;}



/*子导航栏*/
.subNav{
    height:40px;
    width:80%;
    margin:2em auto 1em auto;
    text-align: center;
    border-radius: 5px 0 5px 0;
    position: relative;
    box-shadow:0 2px 3px #79B5F8;
    overflow: hidden;

}

.subNav p{
    position: absolute;
    width:904px;
    white-space:nowrap;
    line-height:40px;
    top:0;
    left:0;
}

.subNav p a{
    color:#333;
    padding:0 1em;
    float: left;
}

.subNav .choose{
    line-height:40px;
    display: inline-block;
    color:#FFF;
    font-family: 'Kaiti', Georgia, Serif;
    background-color: #79B5F8;
    border-radius: 15px 0 15px 0;

}

.subNav button {
    position: absolute;
    display: block;
    width: 20px;
    right: 0;
    line-height: 20px;
    margin:10px 0;
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.subNav button:hover{
    box-shadow:0 0 3px #79B5F8;
}

.subNav .turn-right{
    right: 20px;
}


/*文本*/
.intro-wrap{
    width:80%;
    margin:1em auto;
    min-height:200px;
}

.intro-list{
    margin:4em 0;
    background-color: #F5F5F5;
    padding-bottom:1em;
    display: none;
}

.intro-list table{
    text-align: left;
    margin:0 auto 1em auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.intro-list table td,.intro-list table th{
    padding:.4em .8em;
    border:1px solid #CCC;
}

.intro-list table th{
    font-family:'SimHei';
    text-align: center;
}
.intro-list h1{
    letter-spacing: 5px;
    text-align: center;
    padding:.5em 0;
    background-color: #fff;
    margin:.5em 0 1em 0;
    box-shadow:0 0 5px #888888;
}



.intro-list p{
    text-indent:2em;
    line-height:1.6em;
    margin-bottom:1em;
}

.intro-list h3{
    margin:.8em 0 .3em 0;
}

.intro-list *:not(h1){
    padding-left:2em;
    padding-right:2em;
}

.intro-list ul li{
    list-style-type: circle;
    padding-left:0;
    margin:0 0 .5em 2em;

}