@import url('../common/nav.css');
@import url('../common/loginBar.css');
@import url('../common/footer.css');

*{
    margin:0;
    padding:0;
}
body{
    min-width:420px;
}
li{list-style-type: none;}
a{text-decoration: none;}


/*导航栏*/
.nav .nav-discussion{
    background-color:#efebf8;
    border-bottom:4px solid #5BAEFF
}
.nav li a[class=nav-discussion]:hover,
.nav li a[class=nav-discussion]:focus,
.nav li a[class=nav-discussion]:active{
    color:#333;
}
.dis-none{display: none;}

.lecture-wrap{
    width:96%;
    height:220px;
    margin:1em auto;
    background-image: url(img/bg-discussion.png);
    background-size:100% 100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Img/bg-discussion.png',  sizingMethod=scale);
    overflow: hidden;
    position: relative;
}

.lecture{
    position: absolute;
    height:45px;
    width: 100%;
    background-color: #ccc;
    background-color: rgba(245,245,245,0.9);
    bottom:0;
    text-align:center;
}

.lecture div a,.lecture span{
    line-height:45px;
    font-size:1em;
}

.lecture span{
    font-family: 'SimHei';
}

.lecture span:before{
    content:"\00AB\00AB";
    margin:0 5px 0 0;
}
.lecture span:after{
    margin:0 59px 0 5px;
    content:"\00BB\00BB";
 }


.lecture div a{
    color:#333;
    margin:0 1em;
    font-family: 'Kaiti',Georgia,Serif;
    font-weight:bold;
}

.lecture div a:hover,.lecture div a:focus{
    color:brown;
}

.lecture div:first-child{
    float: left;
}

.lecture div:nth-child(3){
    float: right;
}




.subTitle:before,.subTitle:after{
    content: "";
    display: inline-block;
    width: 20px;
    border-top:1px solid #9a2e2e;
    margin:0 5px 6px 5px;
}




.discussion{
    text-align:center;
    width: 70%;
    margin:1em auto 0 auto;
    padding:1em 0;
}

.discussion h1{
    font-family: 'Kaiti',Georgia,Serif;
}

.discussion > p{
    font-family: 'Microsoft YaHei';
    color:#9a2e2e;
}

.discussion .subTitle:before,.discussion .subTitle:after{
    width: 40px;
}

.discussion-form{
    text-align: right;
}

.discussion-form > label{
    float: left;
    margin-right:1em;
    font-size:.8em;
    color:#333;
}

.discussion-form textarea{
    width: 100%;
    display: block;
    font-size: 1.2em;
    line-height: 18px;
    margin:1em auto .5em auto;
    padding:.3em;
    border:1px solid #ccc;
}


.discussion-form > input{
    font-size:14px;
    color:#eee;
    border:none;
    padding:.5em;
    background-color: #8592AC;
}

.discussion-form > input:hover,.discussion-form > input:focus{
    border-radius: 5px;
    background-color: #ccc;
    color:#333;
}

.discussion-form > input:hover{
    cursor: pointer;
}

.discussion-form .msg{
    color:brown;
}

.discussion-box{
    position: relative;
    width:100%;
    min-height:700px;
    margin:1em auto;
    background-color: #F8F8F8;
    text-align: left;
    padding:0 0 2em 0;
    border-radius:10px 10px 0 0;
}
/*
* 讨论类型标签
*/
.discussion-tag{
    overflow:hidden;
    border-bottom:1px solid #5BAEFF;
}

.discussion-tag  input{
    line-height:2.1em;
    border:none;
    font-size:.9em;
    background-color: #F8F8F8;
    border-radius:10px 10px 0 0;
    padding:0 .5em;
    color:#333;
    outline:none;
}

.discussion-tag input:hover{
    cursor: pointer
}

.discussion-tag input:focus,.discussion-tag input:active{
    border-radius:10px 10px 0 0;
}

.discussion-tag .choose{
    background-color: #5BAEFF;
    color:#FFF;
}

/*
* 讨论列表
*/
.discussion-list{
    margin-top:2em;
}

.discussion-row{
    overflow: hidden;
    margin:1em;
}
.discussion-row img{
    float: left;
    width:50px;
    height:50px;
    padding:2px;
    border:1px solid #ccc;
    background-color: #EEE;
    margin-right:.6em;
}

.discussion-row-title{
    color:#222;
    margin:0 0 .5em 63px;
    padding-bottom:.2em;
    border-bottom:1px dotted #4EC4FE;
}

.discussion-row-title strong{
    margin-right:1em;
}

.discussion-row-title span{
    font-size:14px;
    color:#333;
}

.discussion-row p{
    margin-left:63px;
    font-size: 15px;
}


/*
* 分页按钮
*/
.page{
    width: 400px;
    position: absolute;
    text-align:center;
    bottom:1em;
    left:50%;
    margin-left:-200px;
}

.page input{
    display: inline;
    width:2em;
    margin-left:2px;
}

.page a{
    font-size:14px;
    color:#333;
}

.page a:hover,.page .page-current{
    color:blue;
    text-decoration: underline;
}

.page a:focus{
    text-decoration:none;
}


@media (max-width: 768px) {
    .discussion{
        width:90%;
    }

    .lecture span{
        display: none;
    }
}