@import url('../common/nav.css');
@import url('../common/loginBar.css');
@import url('../common/footer.css');

*{
    margin:0;
    padding:0;
}

.video-wrap{
    padding:1em 0;
    position: relative;
    margin:2em 11% 0 11%;
    height:420px;
    min-width:364px;
    background-color:#8EA7B3;
    overflow: hidden;
}
.video-box{
    width:70%;
    height:420px;
    float: left;
    margin-left:1em;


}

.video-box video{
    height:100%;
    width: 100%;
    border:2px solid #7A94A1;
    border-radius:5px;    background-color: #7A94A1;
}

.video-list{
    position: relative;
    float: right;
    height:400px;
    width: 23%;
    right:1em;
    background-color: #ccc;
    border:2px solid #7A94A1;
    border-radius:5px;
    text-align:center;
    padding:10px 0;
}

.video-list h1{
    font-size:1.5em;
    font-family: 'Kaiti',Georgia,Serif;
}

.video-list p{
    font-family: 'Microsoft YaHei';
    color:#9a2e2e;
}

.subTitle:before,.subTitle:after{
    content: "";
    display: inline-block;
    width: 20px;
    border-top:1px solid #9a2e2e;
    margin:0 5px 6px 5px;
}

.video-list li{
    text-align: left;
    padding:.5em 0.5em;
    margin:1em .5em .5em .5em;
    border:1px solid #999;
}

.list-item img{
    width:100px;
    height:67px;
    vertical-align:text-top
}

.list-item span{
    font-size: 14px;
    color:#333;
}


.comment{
    text-align:center;
    margin:2em auto 0 auto;
    width:78%;
    background-color: #E7E8EA;
    padding:1em 0;
}

.comment h1{
    font-family: 'Kaiti',Georgia,Serif;
}

.comment > p{
    font-family: 'Microsoft YaHei';
    color:#9a2e2e;
}

.comment .subTitle:before,.comment .subTitle:after{
    width: 40px;
}

.comment form{
    text-align: right;
}

.comment textarea{
    width: 70%;
    display: block;
    font-size: 1.2em;
    line-height: 18px;
    margin:1em auto .5em auto;
    padding:.3em;
    border:1px solid #CCC;
    outline-width: 0;
    outline-color: #C39192;
}

.comment .comment-msg{
    color: #9a2e2e;
    font-family: "Kaiti";
    margin-right:5px;
    font-size:14px;
}

.comment form input{
    margin-right:15%;
    font-size:14px;
    color:#eee;
    border:none;
    padding:.5em;
    background-color: #8592AC;
}

.comment form input:hover,.comment input:focus{
    border-radius: 5px;
    background-color: #ccc;
    color:#333;
}

.comment form input:hover{
    cursor: pointer;
}

.comment-box{
    position: relative;
    width:70%;
    min-height:700px;
    margin:1em auto;
    background-color: #D9D5D6;
    text-align: left;
    padding:.4em 0 2em 0;
}

.comment-title{
    margin:1em;
    border-bottom:1px solid #4EC4FE;
}

.comment-title img{
    width: 30px;
    height:auto;
    margin-bottom:-8px;
}
.comment-title strong{
    line-height: 1.5em;
}
.comment-title label{
    float:right;
}

.comment-row{
    overflow: hidden;
    margin:1em;
}
.comment-row img{
    float: left;
    width:50px;
    height:50px;
    padding:2px;
    border:1px solid #ccc;
    background-color: #EEE;
    margin-right:.6em;
}

.comment-row-title{
    color:#222;
    margin:0 0 .5em 63px;
    padding-bottom:.2em;
    border-bottom:1px dotted #4EC4FE;
}

.comment-row-title strong{
    margin-right:1em;
}

.comment-row-title span{
    font-size:14px;
    color:#333;
}

.comment-row p{
    margin-left:63px;
    font-size: 15px;
}

.page{
    width: 400px;
    position: absolute;
    text-align:center;
    bottom:1em;
    left:50%;
    margin-left:-200px;
}

.page input{
    display: inline;
    width:2em;
    margin-left:2px;
}

.page a{
    font-size:14px;
    color:#333;
}

.page a:hover,.page .page-current{
    color:blue;
    text-decoration: underline;
}

.page a:focus{
    text-decoration:none;
}


@media (max-width: 1170px){
    .comment{
        width:86%;
    }

    .video-wrap{
        margin-left:7%;
        margin-right:7%;
    }
}

@media (max-width: 992px){
    .comment-box, .comment textarea{
        width:90%;
    }
    .comment form input{
        margin-right:5%;
    }

    .list-item img{
        width:60px;
        height:40px;
    }

}

@media (max-width: 768px){
    .video-wrap{
        margin-top:4em;

    }
    .video-box{
        float:none;
        width:95%;
        height:300px;
        margin-left:auto;
        margin-right:auto;
    }

    .video-list{
        position: static;
        float: none;
        height:100px;
        width: 95%;
        margin-top:4px;
        margin-left:auto;
        margin-right:auto;
        overflow: hidden;
    }

    .video-list h1{
        float:left;
        width: 1em;
        margin:0 .2em;
    }

    .video-list .subTitle{
        display: none;
    }

    .video-list ul{
        padding-top:21px;
        height:100px;
        overflow: auto;
        white-space:nowrap;
    }

    .video-list li{
        float: left;
        margin:0 .2em .5em .2em;
    }
}



.clear-float{
    clear: both;
}