/*导航*/
li{list-style-type: none;}
a{text-decoration: none;}
.nav-wrap{
    margin:16px auto 0 6%;
}

.logo{
    height:2.5em;
    width:2.5em;
    border:none;/*IE8下 a标签中的img会有蓝色边框*/
}
.title {
    position:relative;
    float:left;
    margin-right:16px;
}
.title strong{
    position:absolute;
    left:45px;
    top:8px;
    color:#333;
    font-family: 'Kaiti',Georgia,Serif;
}
.title span{
    font-family: 'Kaiti',Georgia,Serif;
    font-size:.8em;
    color:#333;
}

.nav{
    overflow:hidden;
    z-index: 100;
}

.nav li{
    float:left;
    border-bottom:2px solid #5BAEFF;
    padding:0.4em 0;
}

.nav li a{
    padding:0.3em 0.5em;
    font-size:1.5em;
    color:#333;
    font-family: 'SimHei';
}

.nav li a:hover,#nav li a:focus,#nav li a:active{
    color:#999
}


@media (max-width: 1170px){
    .nav li a{
        font-size:1.2em;
    }
}

@media (max-width: 992px){
    .title span,.title strong{
        display: none;
    }
}

@media (max-width: 768px){
    .title strong{
        top:14px;
        display:inline;
        white-space:nowrap;
    }
}

/*
* @Felix 2016.4.16
* 折叠导航栏样式
*
*/

.nav-btn{
    position: absolute;
    right:0;
    top:3em;
    width:40px;
    height:30px;
    float:right;
    margin-right:2%;
    padding:0 4px;
    background-color:#FAFAFA;
    border:1px solid #BBB;
    border-radius: 4px;
}

.nav-btn:hover{
    cursor: pointer;
}

.nav-btn span{
    display: block;
    width:100%;
    height:2px;
    background-color:#999;
    margin-top:4px;
    border-radius: 1px;
}
.container .nav-bar{
    position: absolute;
    right:0;
    top:5em;
    background-color:#fafafa;

}
.container .nav-bar li{
    float: none;
    width:120px;
    border-bottom:1px solid #5BAEFF;
}

.container .nav-bar li a{
    background-color: #fafafa;
    border:none;
}

.container .dis-none{
    display: none;
}