@import url('../common/nav.css');
@import url('../common/loginBar.css');
@import url('../common/footer.css');
*{
    margin:0;
    padding:0;
}
/*导航栏*/
.nav .nav-exercise{
    background-color:#efebf8;
    border-bottom:4px solid #5BAEFF
}
.nav li a[class=nav-exercise]:hover,
.nav li a[class=nav-exercise]:focus,
.nav li a[class=nav-exercise]:active{
    color:#333;
}

.exercise-type{
    width:96%;
    height:180px;
    margin:1em auto;
    min-width:500px;
    background-image: url(img/bg-exercise.png);
    background-size: 100% 100%;
    background-color: #cccccc;
    text-align:center;
    position: relative;

}
.type-title{
    padding:2em 0 1em 0;
}
.type-title > a{
    font-size:2em;
    color:#333;
    font-family:"SimHei";
    margin:0 .8em;
    padding:.2em;
    border-radius: 10px;
}

.type-title .type-current{
    background-color:#ccc;
}

.exercise-type .dis-none{
    display: none;
}

.type-list li{
    display: inline;
    margin:.8em;
}

.type-list li a{
    font-family:"SimHei";
    color:#333;
}

.type-list li a:hover,.type-title > a:hover{
    color:brown;
}

.content-wrap{
    width:96%;
    min-height:400px;
    /*border:1px solid #ccc;*/
    min-width:500px;
    margin:0 auto;
    background-color: #EEE;
}

.bread-crumb{
    line-height:2em;
    width:100%;
    color:#333;
    text-indent:2em;
    background-color: #CDCDCD;
    border-bottom:1px solid #DDD;
}



#select-test{
    position: absolute;
    display: none;
    top:0px;
    z-index:1000;
    width:100%;
    height:100%;
    background-color:white;/*IE不支持rgba*/
    background-color:rgba(255,255,255,0.9);
}

#select-test a{
    position: absolute;
    bottom:5px;
    right:1em;
    color:#FFF;
    padding:3px 5px;
    background-color: #A5B9C1;
}

#select-test .confirm{
    right:4.5em;
}

#select-test .select h1{
    margin:1em;
    font-size:1.5em;
}

#select-test .select label{
    margin:0 .5em;
}

@media (max-width: 768px){
    .type-title{
        margin-top:3.5em;
    }
    .type-title > a{
        font-size:1.5em;
        margin:0 .5em;
    }

    .type-list li{
        margin-left:.3em;
        margin-right:.3em;
    }
    .type-list li a{
        font-size:.8em;
    }
}